extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let motelId = toShow._id
    - let motelRatings = toShow.motelRatings
    - let motelCost = toShow.motelCost
    - let motelFacility = toShow.motelFacility
    div
      div.row
        div(class='costumeAttr mr-3') Motel ID is:
        div #{motelId}
      div.row
        div(class='costumeAttr mr-3') Motel Type is:
        div #{motelRatings}
      div.row
        div(class='costumeAttr mr-3') Motel Size is:
        div #{motelCost}
      div.row
        div(class='costumeAttr mr-3') Motel Cost is:
        div #{motelFacility}