extends layout

block content
  h1= title
  - let motels = results
  div(class="container-fluid")
  div(class="row")
    each motel,index in motels
      div(class="col-sm-2" onclick=`buy(${index})`)  #{motel.motelRatings} -  #{motel.motelCost} - #{motel.motelFacility} 
  script.
    function buy(index)
    {
      alert(`You purchased Item ${index+1}`)
    } 