extends layout

block content
  h1= title
  - let motels = results
  div(class="container-fluid")
  div(class="row m-1")
    each motel,index in motels
      - let destination = `dispatch(\"/motels/update?id=${motel._id}\")`
      div(class="row-sm-2 m-1") Item  #{motel.motelRatings} - #{motel.motelCost} - #{motel.motelFacility} 
        button.btn(class="btn-primary ml-1", onclick=destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }