extends layout
block content
  h1= title

  - let motelid = toShow._id
  - let motelRatings = toShow.motelRatings
  - let motelCost = toShow.motelCost
  - let motelFacility = toShow.motelFacility
  div
    div.row
      div(class='costumeAttr mr-3') Motel ID is:
      div #{motelid}
    div.row
      div(class='costumeAttr mr-3') Motel Rating is:
      div #{motelRatings}
    div.row
      div(class='costumeAttr mr-3') Motel Cost is:
      div #{motelCost}
    div.row
      div(class='costumeAttr mr-3') Motel Facility is:
      div #{motelFacility}